{
    "extName": "nombre_de_la_extension_sin_prefijo",
    "srcDir": "ruta_absoluta_codigo_extension",
    "destDir": "ruta_absoluta_destino_instalacion_joomla",
    "backupDir": "ruta_absoluta_destino_copia_de_seguridad",
    "releaseDir": "ruta_absoluta_destino_archivos_de_instalacion"
}